%h1 Add new Airline
%p
  Please enter your data below
  %form{ action: "/airline", method: "post" }
    %fieldset
      %label{ for: "airline" } Name:
      %input{ type: "text", name: "name" }
      %label{ for: "code" } Code:
      %input{ type: "text", name: "code" }
      %label{ for: "website", id: "website" } Website:
      %input{ type: "text", name: "website" }
      %input{ type: "submit", value: "Add Airline", class: "btn btn-default" }
