%h1 Find routes to and from City
%p

  Please enter City you are looking for
  %form{ action: "/show-city-routes", method: "post" }
    %fieldset
      %label{ for: "City" } City:
      %input{ type: "text", name: "city" }
      %input{ type: "submit", value: "Find Routes", class: "btn btn-default" }

