%h1 Delete a route
%p
  Please enter your data below
  %form{ action: "/show-delete-route", method: "post" }
    %fieldset
      %label{ for: "Route num" } Route Number:
      %input{ type: "text", name: "route_num" }
      %input{ type: "submit", value: "Delete Route", class: "btn btn-default" }