%h1 Find all passengers on a flight
%p
  Please enter your data below
  %form{ action: "/show-flight-passengers", method: "post" }
    %fieldset
      %label{ for: "Flight ID" } Flight ID:
      %input{ type: "text", name: "id" }
      %input{ type: "submit", value: "Show Passengers", class: "btn btn-default" }
