%h1 Find a free gate for a flight
%br
%p
  %form.form-container{ action: "/free-gate", method: "post" }
    %fieldset
      %input{ type: "submit", value: "Find Gate", class: "btn btn-default" }
