%h1 Find a free gate for a flight
%p
  Please enter your data below
  %form{ action: "/free-gate", method: "post" }
    %fieldset
      %input{ type: "submit", value: "Find Gate", class: "btn btn-default" }