%h1 Welcome to the Airport!
%a(href="/")
  %li Home
%a(href="/airline-new")
  %li Add Airline
%a(href="/airline-routes")
  %li Show Routes for Airlines
%a(href="/city-routes")
  %li Show Routes for Cities
%a(href="/flight-done")
  %li Assign flight status "Done"
%a(href="/flight-passengers")
  %li Show passengers on a flight
%a(href="/show-free-gates")
  %li Find free Gates
