.container-fluid
  .row
    .col-xs-4
      %h4
        General
    .col-xs-4
      %h4
        Flights
    .col-xs-4
      %h4
        Routes
  .row
    .col-xs-4
      %a(href="/airline-new")
        %li 
          .glyphicon.glyphicon-chevron-left Add Airline
      %a(href="/show-free-gate")
        %li
          .glyphicon.glyphicon-chevron-left Find free Gates
      %a(href="/passenger-baggage")
        %li
          .glyphicon.glyphicon-chevron-left Find passenger's baggage
    .col-xs-4
      %a(href="/flight-new")
        %li
          .glyphicon.glyphicon-chevron-left Add Flight
      %a(href="/flight-done")
        %li
          .glyphicon.glyphicon-chevron-left Assign flight status "Done"
      %a(href="/flight-passengers")
        %li
          .glyphicon.glyphicon-chevron-left Show passengers on a flight
      %a(href="/time-flights")
        %li
          .glyphicon.glyphicon-chevron-left Show flights for a specific time
    .col-xs-4
      %a(href="/route-new")
        %li
          .glyphicon.glyphicon-chevron-left Add Route
      %a(href="/delete-route")
        %li
          .glyphicon.glyphicon-chevron-left Delete Route
      %a(href="/airline-routes")
        %li
          .glyphicon.glyphicon-chevron-left Show Routes for Airlines
      %a(href="/city-routes")
        %li
          .glyphicon.glyphicon-chevron-left Show Routes for Cities
-content_for :home_link do
  %h3
    Welcome!
