%h3 Find a passenger's baggage
%p
  Please enter passanger's ID below
  %form.form-container.form-inline{ action: "/show-passenger-baggage", method: "post" }
    %fieldset
      .form-group
        %label.control-label{ for: "Passenger Id" } Passanger ID:
        %input.form-control{ type: "text", name: "id" }
      %input{ type: "submit", value: "Find Baggage", class: "btn btn-default" }

