%h2 All routes that going to/from #{params[:city]}
%table{:border => "1", class: "table table-striped"}
  %tbody
    %tr 
      %td Route ID
    - @result = get_routes_for_city(params[:city])
    %tr 
    - @result.each do |r|
      %td #{r[0]}
