#header {
  top: 10%;
  position: relative;
  font-size: 250%;
  text-align: center;
}

#content {
  position: relative;
  width: 90%;
  left: 5%;
}

.form-container {
  width: 45%;
}

.logo {
  width: 100px;
}
