%h3 Find routes operated by airline
%p
  Please enter the airline code below
  %form.form-container.form-inline{ action: "/show-airline-routes", method: "post" }
    %fieldset
      .form-group
        %label.control-label{ for: "airline_code" } Name:
        %input.form-control{ type: "text", name: "name" }
      %input{ type: "submit", value: "Find Routes", class: "btn btn-default" }
