%h3 Find all passengers on a flight
%p
  Please enter your data below
  %form.form-inline{ action: "/show-flight-passengers", method: "post" }
    %fieldset
      .form-group
        %label.control-label{ for: "Flight ID" } Flight ID:
        %input.form-control{ type: "text", name: "id" }
      %input{ type: "submit", value: "Show Passengers", class: "btn btn-default" }
