%h2 All passengers for the flight with ID #{params[:id]}
%table{:border => "1", class: "table table-striped"}
  %tbody
    %tr
      %td Passenger ID
    - @result =  get_passengers(params[:id])
    %tr
    - @result.each do |r|
      %td #{r.join(', ')}
